################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LoneWolf/bin
/LoneWolf/obj
/SkinnedModel/bin
/SkinnedModel/obj
/SkinnedModelPipeline/bin
/SkinnedModelPipeline/obj
/SkinningSample/bin
/SkinningSample/obj
/LoneWolf/Content/bin
/LoneWolf/Content/obj
