################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AirMaze/Content/bin/Windows
/AirMaze/Content/obj/Windows
/AirMaze/bin/Windows/Debug
/AirMaze/obj/x86/Debug
